<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Ongoing research towards predicting a volcanic eruption is a valuable tool 
    as technology advances.
  </p>
  <img src="https://research.asu.edu/sites/default/files/2020-07/volcano-elements-01.jpg"/>
  <ion-button color="warning" shape="round" [routerDirection]="'root'" [routerLink]="['/chapter6']">Next Chapter</ion-button>
  <ion-button color="medium" shape="round" [routerDirection]="'root'" [routerLink]="['/chapter4']">Previous Chapter</ion-button>
  <ion-button color="dark" shape="round" [routerDirection]="'root'" [routerLink]="['/toc']">TOC</ion-button>
</ion-content>
