<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Volcanoes can also be very devastating to people/communities in its direct path
    of impact when it erupts.
  </p>
  <img src="https://static.toiimg.com/photo/98593107.cms"/>
  <ion-button color="warning" shape="round" [routerDirection]="'root'" [routerLink]="['/chapter3']">Next Chapter</ion-button>
  <ion-button color="medium" shape="round" [routerDirection]="'root'" [routerLink]="['/chapter1']">Previous Chapter</ion-button>
  <ion-button color="dark" shape="round" [routerDirection]="'root'" [routerLink]="['/toc']">TOC</ion-button>
</ion-content>
