<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Undersea eruption from a volcano are also causes of new land masses forming
    from the ocean. 
  </p>
  <img src="https://www.telegraph.co.uk/multimedia/archive/03163/tonga-volcano_3163001b.jpg?imwidth=680"/>
  <ion-button color="warning" shape="round" [routerDirection]="'root'" [routerLink]="['/chapter5']">Next Chapter</ion-button>
  <ion-button color="medium" shape="round" [routerDirection]="'root'" [routerLink]="['/chapter3']">Previous Chapter</ion-button>
  <ion-button color="dark" shape="round" [routerDirection]="'root'" [routerLink]="['/toc']">TOC</ion-button>
</ion-content>
