<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 6</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Volcanoes are here to stay, as exhaust port for the planet 
    they are not going anywhere love it or hate it!
  </p>
  <img src="https://images.newindianexpress.com/uploads/user/imagelibrary/2017/11/2/w600X300/volcano-2355772_960_720.jpg?w=400&dpr=2.6"/>
  <ion-button color="medium" shape="round" [routerDirection]="'root'" [routerLink]="['/chapter5']">Previous Chapter</ion-button>
  <ion-button color="dark" shape="round" [routerDirection]="'root'" [routerLink]="['/toc']">TOC</ion-button>
</ion-content>
