<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Volcanoes are a marvelous sight on the nature scale of life.</p>
  <img src="https://www.rappler.com/tachyon/2022/04/Mayon-Volcano-924x616-1.jpeg"/>
  <ion-button color="warning" shape="round" [routerDirection]="'root'" [routerLink]="['/chapter2']">Next Chapter</ion-button>
  <ion-button color="dark" shape="round" [routerDirection]="'root'" [routerLink]="['/toc']">TOC</ion-button>
</ion-content>
